.home {
  background-size: cover;
  background-position: bottom center;
  background-image: url("/assets/home/background-home-mobile.jpg");
}

@media (min-width: 560px) {
  .home {
    background-position: center center;
    background-image: url("/assets/home/background-home-tablet.jpg");
  }
}

@media (min-width: 960px) {
  .home {
    background-image: url("/assets/home/background-home-desktop.jpg");
  }
}
